* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
--Soft-red: hsl(10, 79%, 65%);
--Cyan: hsl(186, 34%, 60%);
--Dark-brown: hsl(25, 47%, 15%);
--Medium-brown: hsl(28, 10%, 53%);
--Cream: hsl(27, 66%, 92%);
--Very-pale-orange: hsl(33, 100%, 98%);
}
body {
  background-color: var(--Cream);
  font-family: 'DM Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  min-height: 100vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--Soft-red);
  color: var(--Very-pale-orange);
  margin-bottom: 1rem;
}
.header img {
  width: 50px;
}
.balance {
  font-size: 0.8rem;
  font-weight: 400;
}
.balance span {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
}

.container {
  background-color: var(--Very-pale-orange);
  padding: 1rem;
  border-radius: 10px;
}

.bar:not(:nth-child(1)) {
  margin-left: 0.1rem;
}

.chart__heading {
  color: var(--Dark-brown);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.chart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--Cream);
}
.amount {
  padding: 0.1rem;
  background-color: var(--Dark-brown);
  border-radius: 5px;
  color: var(--Very-pale-orange);
  font-size: 0.7rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; 
}
.bar {
  margin-top: auto;
  text-align: center;
  cursor: pointer;
}
.bar > * {
  margin-inline: auto;
  margin-bottom: 0.5rem;
}
.bar__block {
  background-color: var(--Soft-red);
  margin-top: auto;
  width: 80%;
  border-radius: 5px;
}
.bar:nth-child(3) .bar__block {
  background-color: var(--Cyan);
}
.day {
  font-size: 0.6rem;
  color: var(--Medium-brown);
  margin-bottom: 1rem;
}
.bar:active .amount, .bar:focus .amount  {
  opacity: 1;
}
.bar:focus {
  outline-color: var(--Soft-red);
  outline-offset: 0.2rem ;
}
.bar:nth-child(3):focus {
  outline-color: var(--Cyan);
  outline-offset: 0.2rem ;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.total__month {
  color: var(--Medium-brown);
  font-size: 0.8rem;
}
.total__month span, .last__month span {
  display: block;
  color: var(--Dark-brown);
  font-weight: 700;
}
.total__month span {
  font-size: 1.5rem;
}
.last__month {
  font-size: 0.8rem;
  text-align: right;
  color: var(--Medium-brown);
}
@media (min-width: 375px) {
  .amount {
    padding: 0.2rem;
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) {
  .balance {
    font-size: 0.9rem;
  }
  .balance span {
    font-size: 1.4rem;
  }
  .chart__heading {
    font-size: 1.4rem;
  }
  .amount {
    padding: 0.4rem;
    font-size: 0.9rem;
  }
}

@media (hover:hover) {
  .bar:hover .amount {
    opacity: 1;
  }
}